Program/RieltorBase.Domain/bin/Debug/*.*
Program/RieltorBase.Domain/obj/Debug/*.*
Program/RieltorBase.Domain/obj/Debug/*.*
Program/RieltorBase.DBLogic/VI_EF/Test_EF/obj/
Program/RiletorBase.DBLogic/VI_EF/Test_EF/bin/
Program/RieltorBase.DBLogic/VI_EF/Test_EF/obj/Debug/*.*
Program/RieltorBase.WebSite/obj/Debug/RieltorBase.WebSite.csprojResolveAssemblyReference.cache
Program/RieltorBase.WebSite.suo
Program/RieltorBase.WebSite/bin/*.*
Program/RieltorBase.WebSite/obj/Debug/*.*
Program/RieltorBase.WebSite.v12.suo
