<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="VolgaInfoDBEntities" connectionString="metadata=res://*/RealtyBaseModel.csdl|res://*/RealtyBaseModel.ssdl|res://*/RealtyBaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\SQLEXPRESS;initial catalog=VolgaInfoDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>