@{
    ViewBag.Title = "Index";
}

<h2>Index - главная.</h2>

<a href="MainPage/Index">Главная страница.</a>
<br />
@Html.ActionLink("1. Очистить базу", "ClearDatabase");
<br/>
@Html.ActionLink("2. Добавить метаданные", "CreateMetadata");
<br/>
@Html.ActionLink("3. Создать несколько тестовых квартир", "CreateTestObjects");
