<div>
    <div class="page-header">
        <h1>Личный кабинет</h1>
    </div>

    <div class="wrapper">
        <button class="btn btn-primary" ng-click="addApp()">Добавить квартиру</button>
    </div>
    

   
    <div class="wrapper tabs">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-1" data-toggle="tab">11</a></li>
            <li><a href="#tab-2">22</a></li>
            <li><a href="#tab-3">33</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="tab-1">
                1111111111111
            </div>
            <div class="tab-pane fade" id="tab-2">
                222222222222222
            </div>
            <div class="tab-pane fade" id="tab-3">
                333333333333
            </div>
        </div>
    </div>

</div>