<div>
    <div class="page-header">
        <h1>Поиск квартир в Тольятти</h1>
    </div>

    <!-- Панель инструментов -->
    <div class="panel-toolbar well">
        <div>
            <button title="Своя база">
                <i class="fa fa-list-ul fa-3x" aria-hidden="true"></i><span> Своя база</span>
            </button>
            <button title="Вся база">
                <i class="fa fa-database fa-3x" aria-hidden="true"></i><span> Вся база</span>
            </button>
            <button title="Карточка объекта">
                <i class="fa fa-file-text-o fa-3x" aria-hidden="true"></i><span> Карточка объекта</span>
            </button>
            <button title="Редактировать свои объекты">
                <i class="fa fa-pencil-square-o fa-3x" aria-hidden="true"></i><span> Редактировать объекты</span>
            </button>
            <button title="Доп. информация">
                <i class="fa fa-info fa-3x" aria-hidden="true"></i><span> Доп. информация</span>
            </button>
            <button title="Версия для печати">
                <i class="fa fa-print fa-3x" aria-hidden="true"></i><span> Версия для печати</span>
            </button>
        </div>
        
    </div>

    <div class="panel-toolbar-33 well">
        <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-12">
                <button title="Своя база">
                    <i class="fa fa-list-ul fa-3x" aria-hidden="true"></i> Своя база
                </button>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12">
                <button title="Вся база">
                    <i class="fa fa-database fa-3x" aria-hidden="true"></i> Вся база
                </button>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12">
                <button title="Карточка объекта">
                    <i class="fa fa-file-text-o fa-3x" aria-hidden="true"></i> Карточка объекта
                </button>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12">
                <button title="Редактировать свои объекты">
                    <i class="fa fa-pencil-square-o fa-3x" aria-hidden="true"></i> Редактировать
                </button>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12">
                <button title="Доп. информация">
                    <i class="fa fa-info fa-3x" aria-hidden="true"></i> Доп. информация
                </button>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12">
                <button title="Версия для печати">
                    <i class="fa fa-print fa-3x" aria-hidden="true"></i> Печать
                </button>
            </div>
        </div>
    </div>

    <!-- Панель инструментов, версия 2 -->
    <div class="panel-toolbar-2 well">
        <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-6">
                <button title="Своя база">
                    <i class="fa fa-list-ul fa-3x" aria-hidden="true"></i>
                </button>
                <span>Своя база</span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <button title="Вся база">
                    <i class="fa fa-database fa-3x" aria-hidden="true"></i>
                </button>
                <span>Вся база</span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <button title="Карточка объекта">
                    <i class="fa fa-file-text-o fa-3x" aria-hidden="true"></i>
                </button>
                <span>Карточка объекта</span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <button title="Редактировать свои объекты">
                    <i class="fa fa-pencil-square-o fa-3x" aria-hidden="true"></i>
                </button>
                <span>Редактировать объекты</span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <button title="Доп. информация">
                    <i class="fa fa-info fa-3x" aria-hidden="true"></i>
                </button>
                <span>Доп. информация</span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <button title="Версия для печати">
                    <i class="fa fa-print fa-3x" aria-hidden="true"></i>
                </button>
                <span>Версия для печати</span>
            </div>
        </div>
    </div>

    <!-- Панель поиска -->
    <div class="well">
        <form class="form-horizontal" role="form">
            <legend>Поиск по параметрам</legend>

            <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    <label class="control-label" for="searchType">Тип:</label>
                </div>
                <div class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-2 hidden-xs">
                    <label class="control-label" for="searchPriceMin">Цена:</label>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                    <!-- Если надо отсылать индекс элемента - то оставить с value="0"; если нужен текст на русском - то удалить параметр "value" -->
                    <select id="searchType" class="form-control">
                        <option>Квартиры</option>
                        <option>Малосемейки</option>
                        <option>Новостройки</option>
                        <option>Дома/Коттеджи</option>
                        <option>Аренда жилья</option>
                        <option>Коммерческая Недвижимость</option>
                        <option>Участки</option>
                        <option>Дачи</option>
                        <option>Разное</option>
                    </select>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon">от</span>
                        <input type="text" class="form-control" id="searchPriceMin" placeholder="тыс. руб.">
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon">до</span>
                        <input type="text" class="form-control" id="searchPriceMax" placeholder="тыс. руб.">
                    </div>
                </div>
            </div>

            <!-- Панель поиска: Дата -->
            <div class="row">
                <div class="col-md-3">
                    <label class="control-label">За последний:</label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                    <div class="btn-group btn-group-xs btn-group-justified">
                        <span class="searchSpecificDate btn btn-info" data-item="day">день</span>
                        <span class="searchSpecificDate btn btn-default" data-item="week">неделю</span>
                        <span class="searchSpecificDate btn btn-default" data-item="month">месяц</span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon">с</span>
                        <input type="text" id="searchDateMin" class="form-control" placeholder="дд.мм.гггг" />
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon">по</span>
                        <input type="text" id="searchDateMax" class="form-control" placeholder="дд.мм.гггг" />
                    </div>
                </div>
            </div>

            <!-- Панель поиска: Адрес -->
            <div class="row">
                <div class="col-md-2">
                    <label class="control-label" for="searchAddress">Адрес:</label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <input id="searchAddress" type="text" class="form-control" placeholder="Адрес" />
                </div>
                <div class="col-xs-1">
                    <input id="searchSubmit" type="button" value="Поиск" class="btn btn-primary" />
                </div>
            </div>

        </form>
    </div>


    <!-- Тестовая html-таблица "Квартиры" -->
    <div class="well">
        <legend>Квартиры, маленькая таблица</legend>

        <table class="table table-striped table-bordered table-hover table-condensed">
            <!-- Выводим динамически названия столбцов -->
            <tr>
                <th ng-repeat="col in apptsColumns" ng-click="sort(col['column'])">
                    <a href="">
                        {{ col.readableName }}
                        <i class="glyphicon" ng-class="{'glyphicon-chevron-up' : isSortUp(col['column']),
                                        'glyphicon-chevron-down' : isSortDown(col['column'])}"></i>
                    </a>
                </th>
            </tr>

            <!-- Выводим динамически ячейки строк -->
            <tr ng-repeat="app in appts | orderBy:sortField:reverse">
                <td ng-repeat="column in apptsColumns">{{app[column.column]}}</td>
            </tr>
        </table>
    </div>
</div>