@using RieltorBase.Domain.InfoClasses;
@using RieltorBase.Domain.Metadata
@model IEnumerable<RealtyObjectInfo>

@{
    ViewBag.Title = "Find";
}

<h2>Find results</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <td>Id</td>
            <td>Адрес</td>
            <td>Цена</td>
        </tr>
    </thead>

    @foreach(RealtyObjectInfo info in this.Model)
    {
        <tr>
            <td>@info.Id</td>
            <td>@(info.Properties.ContainsKey(PropertyNames.Address) ? info.Properties[PropertyNames.Address] : "")</td>
            <td>@(info.Properties.ContainsKey(PropertyNames.Cost) ? info.Properties[PropertyNames.Address] : "")</td>
            <td>@(info.Properties.ContainsKey("Address") ? info.Properties["Address"] : "")</td>
        </tr>
    }
</table>
