.menu-margin{
    margin-top:50px;
}

/* Панель инструментов */
.panel-toolbar{
    text-align:center;
}
.panel-toolbar div{
    padding:0;
}
.panel-toolbar button{
    width:100%;
}
.panel-toolbar i{
    vertical-align:middle;
}
.panel-toolbar{
    font-size:12px;
}

/* Блок найденных квартир */
.appartment-additional{
    display:none;
}
.toggle-appartment-additional{
    cursor:pointer;
}
.appartments-mobile .appartment-additional{
    margin-top:15px;
}
