@{
    Layout = null;
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="testApp" lang="ru">
<head>
    <meta charset="utf-8">

    <title>MainMenu</title>

    <!-- Уточнить что это? -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Стили: -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />        <!-- Стили Bootstrap -->
    <link href="~/Content/vendors/datepicker3.css" rel="stylesheet" />  <!-- календарь bootstrap-datepicker -->
    <link href="~/Content/TopDropdownMenu.css" rel="stylesheet" />      <!-- Стили для меню -->
    <link href="~/Content/inner/index.css" rel="stylesheet" />

    <!-- JS-скрипты: -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>    
    
    <!-- Angular-приложение -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script src="~/Scripts/inner/controllers.js"></script>

    <!-- календарь bootstrap-datepicker -->
    <script src="~/Scripts/vendors/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/vendors/bootstrap-datepicker.ru.js"></script>

    <script src="~/Scripts/inner/index.js"></script>    <!-- js-файл для главной страницы -->

</head>
<body class="container-fluid">
    <nav>
        <ul id="menu">
            <li>
                <a href="#">Файл</a>
                <ul>
                    <li><a href="#">Сохранить</a></li>
                    <li><a href="#">Сохранить как</a></li>
                    <li><a href="#">Печатать</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Вид</a>
                <ul>
                    <li><a href="#">...</a></li>
                    <li><a href="#">...</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Связь</a>
                <ul>
                    <li><a href="#">...</a></li>
                    <li><a href="#">...</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Прайс-листы</a>
                <ul>
                    <li><a href="#">...</a></li>
                    <li><a href="#">...</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Дополнительная информация</a>
                <ul>
                    <li><a href="#">...</a></li>
                    <li><a href="#">...</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Реклама</a>
                <ul>
                    <li><a href="#">...</a></li>
                    <li><a href="#">...</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Настройки</a>
                <ul>
                    <li><a href="#">...</a></li>
                    <li><a href="#">...</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Справка</a>
                <ul>
                    <li><a href="#">...</a></li>
                    <li><a href="#">...</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div>
        <table style="width:100%">
            <tr>
                <td>
                    <br />
                    <div style="clear:both; text-align:right">
                        <label>Фирма: FirmName</label>
                        <button>
                            Личный кабинет
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <br />
                    <div style="clear:both">
                        <br />
                        <button>
                            <img src="~/Images/ButtonImages/old-edit-find_7749.png" alt=""
                                 style="vertical-align: middle">
                        </button>
                        <button>
                            <img src="~/Images/ButtonImages/core_8235.png" alt=""
                                 style="vertical-align: middle">
                        </button>
                        <button>
                            <img src="~/Images/ButtonImages/document-save_4199.png" alt=""
                                 style="vertical-align: middle">
                        </button>
                        <button>
                            <img src="~/Images/ButtonImages/entry_add_8250.png" alt=""
                                 style="vertical-align: middle">
                        </button>
                        <button>
                            <img src="~/Images/ButtonImages/add-files-to-archive_6695.png" alt=""
                                 style="vertical-align: middle">
                        </button>
                        <button>
                            <img src="~/Images/ButtonImages/document-print_3089.png" alt=""
                                 style="vertical-align: middle">
                        </button>
                        <span style="float:right">
                            <label>Быстрый поиск: </label>
                            <input id="Text1" type="text" />
                        </span>
                        <br />
                        <span style="float:right">
                            <button>
                                Разширенный поиск
                            </button>
                        </span>
                        <br />
                        <span style="float:right">
                            <label>Тип:</label>
                            <select id="Select2">
                                <option>Test 1</option>
                                <option>Test 2</option>
                                <option>Test 3</option>
                            </select>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <!-- Панель поиска -->
    <div class="well">
        <form class="form-horizontal" role="form">
            <legend>Поиск</legend>

            <div class="row">
                <div class="col-lg-1">
                    <label class="control-label" for="searchType">Тип:</label>
                </div>
                <div class="col-lg-2 col-lg-offset-1">
                    <label class="control-label" for="searchPriceMin">Цена:</label>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2">
                    <!-- Если надо отсылать индекс элемента - то оставить с value="0"; если нужен текст на русском - то удалить параметр "value" -->
                    <select id="searchType" class="form-control">
                        <option>Квартиры</option>
                        <option>Малосемейки</option>
                        <option>Новостройки</option>
                        <option>Дома/Коттеджи</option>
                        <option>Аренда жилья</option>
                        <option>Коммерческая Недвижимость</option>
                        <option>Участки</option>
                        <option>Дачи</option>
                        <option>Разное</option>
                    </select>
                </div>
                <div class="col-lg-2">
                    <div class="input-group">
                        <span class="input-group-addon">от</span>
                        <input type="text" class="form-control" id="searchPriceMin" placeholder="Минимальная">
                        <span class="input-group-addon">руб.</span>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="input-group">
                        <span class="input-group-addon">до</span>
                        <input type="text" class="form-control" id="searchPriceMax" placeholder="Максимальная">
                        <span class="input-group-addon">руб.</span>
                    </div>
                </div>
            </div>

            <!-- Панель поиска: Дата -->
            <div class="row">
                <div class="col-lg-2">
                    <label class="control-label">За последний:</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    <div class="row">
                        <div class="col-lg-3">
                            <span class="searchSpecificDate btn btn-xs btn-info" data-item="day">1 день</span>
                        </div>
                        <div class="col-lg-4">
                            <span class="searchSpecificDate btn btn-xs btn-default" data-item="week">1 неделю</span>
                        </div>
                        <div class="col-lg-4">
                            <span class="searchSpecificDate btn btn-xs btn-default" data-item="month">1 месяц</span>
                        </div>
                    </div>

                </div>
                <div class="col-lg-2">
                    <div class="input-group">
                        <span class="input-group-addon">С</span>
                        <input type="text" id="searchDateMin" class="form-control" placeholder="Минимальная дата" />
                        <span class="input-group-addon glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="input-group">
                        <span class="input-group-addon">по</span>
                        <input type="text" id="searchDateMax" class="form-control" placeholder="Максимальная дата" />
                        <span class="input-group-addon glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    </div>
                </div>
            </div>

            <!-- Панель поиска: Адрес -->
            <div class="row">
                <div class="col-lg-2">
                    <label class="control-label" for="searchAddress">Адрес:</label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <input id="searchAddress" type="text" class="form-control" placeholder="Адрес" />
                </div>
                <div class="col-lg-1">
                    <input id="searchSubmit" type="button" value="Поиск" class="btn btn-primary" />
                </div>
            </div>

        </form>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <!-- Angular приложение -->
    <div class="panel panel-default">
        <h3 class="panel-heading">Header</h3>

        <div class="panel-body" ng-controller="test1Ctrl">
            <header>
                <nav class="navbar navbar-default">
                    <div class="container">
                        <ul class="nav navbar-nav">
                            <li><a href="#/"><i class="fa fa-home"></i> Home</a></li>
                            <li><a href="#/about"><i class="fa fa-shield"></i> About</a></li>
                            <li><a href="#/contact"><i class="fa fa-comment"></i> Contact</a></li>
                        </ul>
                        <div class="navbar-header navbar-right">
                            <a class="navbar-brand" href="/">Angular Routing Example</a>
                        </div>
                    </div>
                </nav>
            </header>

            <ng-view></ng-view>
        </div>
    </div>

    
</body>

</html>

